<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rega</title>
</head>
<body>
    {% if info.error %}
        <h2>{{ info.error }}</h2>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <label for="username"> Введите логин: </label>
        <input type="text" id="username" name="username" maxlength="30" required>
        <br>

        <label for="password"> Введите пароль: </label>
        <input type="password" id="password" name="password" minlength="8" required>
        <br>

        <label for="repeat_password"> Повторите пароль: </label>
        <input type="password" id="repeat_password" name="repeat_password" minlength="8" required>
        <br>

        <label for="age"> Введите свой возраст: </label>
        <input type="text" id="age" name="age" maxlength="3" required pattern="\d{1,3}">
        <small>Введите возраст (максимум 3 цифры)</small>
        <br>

        <button type="submit">Зарегестрироваться</button>
    </form>
</body>
</html>